// main: ../main.sass

header
  padding: 30px 0
  .container
    align-items: center
    display: flex
    justify-content: space-between
  .logo
    display: block
  nav
    display: none
    @media(min-width: 768px)
      display: block
    ul
      @media(min-width: 768px)
        display: flex
      li 
        padding: 0 15px
        a
          color: $black
          display: block
          position: relative
          &:before
            content: ''
            background: transparentize($weland, 0.8)
            bottom: 0
            display: block
            height: 0
            left: 0
            position: absolute
            transition: all 180ms ease-in
            width: 100%
            z-index: -1
          &:hover:before
            height: 10px
          &.nuxt-link-active
            &:before
              height: 10px
        &:last-of-type
          @media(min-width: 768px)
            padding-right: 0  
.hamburger 
  padding: 15px 15px
  display: inline-block
  cursor: pointer
  transition-property: opacity, filter
  transition-duration: 0.15s
  transition-timing-function: linear
  font: inherit
  color: inherit
  text-transform: none
  background-color: transparent
  border: 0
  margin: 0 -15px 0 0
  overflow: visible 
  &:hover 
    opacity: 0.7
  &:focus
    outline: 0 
  @media(min-width: 768px)
    display: none

.hamburger-box 
  width: 25px
  height: 13px
  display: inline-block
  position: relative 
  vertical-align: middle

.hamburger-inner 
  display: block
  top: 50%
  margin-top: -2px 
.hamburger-inner, .hamburger-inner::after 
  width: 25px
  height: 2px
  background-color: $black
  position: absolute
  transition-property: transform
  transition-duration: 0.15s
  transition-timing-function: ease 
.hamburger-inner::after 
  content: ""
  display: block 
.hamburger-inner::after 
  bottom: -5px 

.hamburger--elastic .hamburger-inner 
  top: 2px
  transition-duration: 0.275s
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55) 
.hamburger--elastic .hamburger-inner::after 
  top: 10px
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55) 

.hamburger--elastic.is-active .hamburger-inner 
  transform: translate3d(0, 10px, 0) rotate(135deg)
  transition-delay: 0.075s 
.hamburger--elastic.is-active .hamburger-inner::after 
  transform: translate3d(0, -20px, 0) rotate(-270deg)
  transition-delay: 0.075s 