// main:../main.sass

.home 
  .hero__title + .hero__sub
    padding-top: 170px
    &:before
      height: 140px  
  .featured
    margin-bottom: 50px
  .services
    padding: 50px 0
  .blog
    background: #EEF2F5
    padding: 100px 0