// main: ../main.sass

.servicios
  .wave
    svg
      path
        &:nth-child(1)
          fill: rgb(70, 83, 98)
          fill-opacity: 0.15
        &:nth-child(2)
          fill: rgb(70, 83, 98)
          fill-opacity: 0.15

.servicios-band
  margin-bottom: 70px
  .servicio
    padding: 70px 0
    border-top: 1px solid #E5E5E5
    &__container
      max-width: 600px
      margin: auto
      h3
        font-family: futura-pt, sans-serif
        font-weight: 500
        color: $black
        font-size: 28px
        margin-bottom: 20px
      p
        font-size: 20px
        line-height: 32px
        margin-bottom: 15px
