// main: ../main.sass

.trabajos
  .wave
    svg
      path
        &:nth-child(1)
          fill: #EEF2F5
          fill-opacity: 0.7
        &:nth-child(2)
          fill: #EAEDF2
          fill-opacity: 0.4